<%= form_with(model: [account, transaction], local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :transaction_type %>
    <%= form.select :transaction_type, options_for_select([['Deposit', 'deposit'], ['Withdrawal', 'withdrawal']]), class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :document %>
    <%= form.file_field :document, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

