# <tr id="<%= dom_id(transaction) %>" onclick="window.location='<%= account_transaction_path(@account, transaction) %>'" style="cursor:pointer;">
#   <td><%= number_to_currency(transaction.amount) %></td>
#   <td><%= transaction.transaction_type %></td>
#   <td class="text-right"><%= transaction.created_at.strftime('%m/%d/%y') %></td>
# </tr>