<div id="<%= dom_id transaction %>">
  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= transaction.transaction_type %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= transaction.notes %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= transaction.account_id %>
  </p>

</div>
