<div class="container">
  <p class="text-success"><%= notice %></p>
  <% content_for :title, "Accounts" %>

  <h1 class="mb-4">Your Accounts</h1>
  <div class="row" id="accounts">
    <% @owned_accounts.each do |account| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title text-center mb-0"><%= account.name %></h5>
          </div>
          <div class="card-body">
            <h1 class="card-text text-center mb-3"><%= number_to_currency(account.balance) %></h1>
            <div class="d-flex justify-content-center">
              <%= link_to "Show this account", account, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if @followed_accounts.any? %>
    <h2 class="mt-5 mb-4">Accounts You Follow</h2>
    <div class="row" id="followed-accounts">
      <% @followed_accounts.each do |account| %>
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title text-center mb-0"><%= account.name %></h5>
            </div>
            <div class="card-body">
              <h1 class="card-text text-center mb-3"><%= number_to_currency(account.balance) %></h1>
              <div class="d-flex justify-content-center">
                <%= link_to "Show this account", account, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="fixed-bottom">
    <div class="d-flex justify-content-center">
      <%= link_to "New account", new_account_path, class: "btn btn-success" %>
    </div>
  </div>
</div>