<p style="color: green"><%= notice %></p>

<% content_for :title, "Accounts" %>

<h1>Accounts</h1>

<div id="accounts">
  <% @accounts.each do |account| %>
    <%= render account %>
    <p>
      <%= link_to "Show this account", account %>
    </p>
  <% end %>
</div>

<%= link_to "New account", new_account_path %>

# AI code
<h1>Your Accounts</h1>

<%= link_to 'Create New Account', new_account_path, class: 'btn btn-primary' %>

<ul>
  <% @accounts.each do |account| %>
    <li>
      <%= link_to account.name, account %> - Balance: <%= number_to_currency(account.balance) %>
      <%= link_to 'Edit', edit_account_path(account), class: 'btn btn-secondary' %>
      <%= link_to 'Delete', account, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </li>
  <% end %>
</ul>