<div class="container mt-4">
  <h1 class="text-center"><%= @account.name %></h1>
  <%=link_to "Edit Account", edit_account_path%>
  <div class="card">
    <div class="card-header text-center">
      <h2>Balance: <%= number_to_currency(@account.balance) %></h2>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Amount</th>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <% @account.transactions.last(3).each do |transaction| %>
            <tr>
              <td><%= number_to_currency(transaction.amount) %></td>
              <td><%= transaction.transaction_type %></td>
              <td><%= transaction.created_at.strftime("%B %d") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if can? :read, @account%>
        <div class="mt-3 d-flex justify-content-center">
          <%= link_to 'View All Transactions', account_transactions_path(@account), class: 'btn btn-primary me-2' %>
        </div>
      <%end%>
    </div>
  </div>
  <div class="fixed-bottom">
    <div class="d-flex justify-content-center mb-3">
      <%= link_to 'New Transaction', new_account_transaction_path(@account), class: 'btn btn-success' %>
    </div>
  </div>
</div>